<!DOCTYPE html>
{%load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Chango&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  

  <link rel="stylesheet" href="{%static 'css/home.css' %}" />

  <title>Document</title>

</head>

<body>



  <!--Navbar Start-->



  <nav class="navbar navbar-expand-lg shadow navbar-custom sticky-top">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="background-color: white;"></span>
    </button>


    <a href="#" class="navbar-brand " style="font-family: 'sofia', sans-serif; color: white; font-weight: bold;"> BD
      University Community </a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul class="navbar-nav ml-auto mt-lg-3">



        <li class="nav-item active">
          <a class="nav-link" href="#" style="color:white; font-family: 'Montserrat', sans-serif;">Home<span
              class="sr-only">(current)</span></a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:white; font-family: 'Montserrat', sans-serif;" href="#"
            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Blogs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Achievements</a>
            <a class="dropdown-item" href="#">Ask Question</a>
            <a class="dropdown-item" href="#">Solve Problem</a>
            <a class="dropdown-item" href="#">Clubs</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:white; font-family: 'Montserrat', sans-serif;" href="#"
            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Notes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Engineering</a>
            <a class="dropdown-item" href="#">Medical</a>
            <a class="dropdown-item" href="#">Math</a>
            <a class="dropdown-item" href="#">English</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" style="color:white; font-family: 'Montserrat', sans-serif;"> Contact us
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook"
              viewBox="0 0 16 16">
              <path
                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
            </svg>



          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:white; font-family: 'Montserrat', sans-serif;">

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:white; font-family: 'Montserrat', sans-serif;">

          </a>
        </li>


        <form class="form-inline my-2 my-lg-0">

          <input class="form-control mr-sm-2  d-none d-lg-block" style="border-radius: 50px;" type="search"
            placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success  mr-sm-2  d-none d-lg-block" style="border-radius: 50px;"
            type="submit"> <i class="fa fa-search"></i> Search</button>


        </form>




      </ul>


    </div>



  </nav>

  <!--navbar finsihed-->




  <!--searchBar-->

  <div class="container mt-5" id="search">



    <div class="text-center">

      <h1 style="font-family: 'Montserrat', sans-serif; color: rgb(210, 245, 11); text-shadow:2px 2px black; ">1000+
        Hand-Notes From Best of The University Students!!!</h1>

      <h2 style="font-family: 'Montserrat', sans-serif; color: rgb(180, 245, 0);text-shadow:2px 2px black;">

        Search-Buy-Sell-Share !

      </h2>



      <h3 style="font-family: 'Montserrat', sans-serif; color: rgb(219, 243, 7);text-shadow:2px 2px black;">Register
        Now!!!!
      </h3>

    </div>



    <!--loginSign up Modal-->


    <div class="text-center mt-4" style="font-family: 'Montserrat', sans-serif; color: white;">



      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModa2">Register</button>



      <div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe2"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabe2"> Registration </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">

              <div class="container">
                <form>

                  <div class="row">
                    <div class="form-group col-lg-6 mb-3">

                      <label for="validationCustom01">First name</label>
                      <input type="text" class="form-control" id="validationCustom01" placeholder="First Name">

                    </div>


                    <div class="form-group col-lg-6 mb-3">

                      <label for="lastname"> Last Name </label>
                      <input type="text" class="form-control" id="lastname" placeholder="Last Name">

                    </div>


                  </div>




                  <div class="row">
                    <div class="form-group col-lg-6 mb-3">

                      <label for="Email">Email</label>
                      <input type="text" class="form-control" id="email" placeholder="example@gmail.com">

                    </div>


                    <div class="form-group col-lg-6 mb-3">

                      <label for="Phone"> Phone </label>
                      <input type="text" class="form-control" id="Phone" placeholder="Phone Number">

                    </div>


                  </div>


                  <div class="row">



                    <div class="form-group col-lg-6 mb-3">

                      <label for="City">District</label>
                      <input type="text" class="form-control" id="City" placeholder="...">

                    </div>

                    <div class="form-group col-lg-6 mb-3">

                      <label for="Zip"> Postal Zip Code</label>

                      <select class="custom-select" id="Zip" required>


                        <option selected disabled value="">Choose..</option>
                        <option>6124</option>
                        <option>8393</option>
                        <option>9276</option>
                        <option>2736</option>

                      </select>

                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-lg-6 mb-3">

                      <label for="cn">Institute Name</label>
                      <input type="text" class="form-control" id="cn" placeholder="....">

                    </div>

                    <div class="form-group col-lg-6 mb-3">

                      <label for="cy">Year</label>
                      <input type="text" class="form-control" id="cy" placeholder="Year">

                    </div>



                  </div>

                  <div class="row">
                    <div class="form-group col-lg-6 mb-3">

                      <label for="pass"> Password </label>
                      <input type="text" class="form-control" id="pass">

                    </div>


                    <div class="form-group col-lg-6 mb-3">

                      <label for="cp"> Confirm Password </label>
                      <input type="text" class="form-control" id="cp">

                    </div>


                  </div>





                </form>
              </div>
            </div>




            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success">Register</button>
            </div>
          </div>
        </div>
      </div>



    </div>


  </div>









  <!--endofsignup-->






  <!--endOfsearchbar-->



  <!--Carousol-->

  <div class="w-100">

    <div id="carouselId" class="carousel slide shadow w-80 " data-ride="carousel">
      <!-- the main inner part of the carousel -->
      <div class="carousel-inner ">

        <div class="carousel-item active " data-interval="5000">
          <img src="{% static 'image/Students.jpg' %}" style=" width:100%; height:600px;" alt="Project 1">
          <div class="carousel-caption d-none d-md-block">
            <h2 style="font-family: 'sofia', sans-serif; font-weight: bold; ">Buy Notes</h2>
            <h5>Buy Notes Books From Our Members </h5>
          </div>
        </div>


        <div class="carousel-item" data-interval="5000">
          <img src="{% static 'image/students.jpg' %}" style=" width:100%; height:600px" alt="Project 2">
          <div class="carousel-caption d-none d-md-block">
            <h2 style="font-family: 'sofia', sans-serif;font-weight: bold;">Sale Notes</h2>
            <h5>Sale Your Notes Here and Make money !</h5>
          </div>
        </div>

        <div class="carousel-item" data-interval="5000">
          <img src="{% static 'image/students.jpg' %}" style=" width:100%; height:600px" alt="Project 3">
          <div class="carousel-caption d-none d-md-block">
            <h2 style="font-family: 'sofia', sans-serif;font-weight: bold;">Read and Write Blogs</h2>
            <h5>Read and Write Blogs</h5>
          </div>
        </div>

        <div class="carousel-item" data-interval="5000">
          <img src="{% static 'image/students.jpg' %}" style=" width:100%; height:600px" alt="Project 3">
          <div class="carousel-caption d-none d-md-block">
            <h2 style="font-family: 'sofia', sans-serif;font-weight: bold;">Ask Question</h2>
            <h5>Ask Your problems and seek help from experts</h5>
          </div>
        </div>

        <div class="carousel-item" data-interval="5000">
          <img src="{% static 'image/students.jpg' %}" style=" width:100%;height:600px" alt="Project 3">
          <div class="carousel-caption d-none d-md-block">
            <h2 style="font-family: 'sofia', sans-serif;font-weight: bold;">Share Achievements</h2>
            <h5>Share Your Achievements</h5>
          </div>
        </div>
        <div class="carousel-item" data-interval="5000">
          <img src="{% static 'image/students.jpg' %}" style=" width:100%;height:600px" alt="Project 3">
          <div class="carousel-caption d-none d-md-block">
            <h2 style="font-family: 'sofia', sans-serif;font-weight: bold;">Solve Problems</h2>
            <h5> Share a Problem and Solve the problem with others</h5>
          </div>
        </div>





      </div>

      <!-- adding indicators for each slide -->
      <ol class="carousel-indicators">
        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
        <li data-target="#carouselId" data-slide-to="1"></li>
        <li data-target="#carouselId" data-slide-to="2"></li>
        <li data-target="#carouselId" data-slide-to="3"></li>
        <li data-target="#carouselId" data-slide-to="4"></li>
        <li data-target="#carouselId" data-slide-to="5"></li>

      </ol>

      <!-- adding left-right move buttons -->
      <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>


    </div>
<hr>

  </div>



  <!--card-->

  
  <div class="container-fluid w-100 mt-5 bg-black" >


    <div class="row mt-5">


      <div class="col-lg-6 col-md-12 col-sm-12 col-12 mb-3 mt-3 ml-7" style="padding-left: 30px;"id="">


        <h1 style="font-family: 'Bebas Neue', cursive;font-weight: bold; padding-left:80px; padding-top: 100px; color: black; " >
        
          We Have Famous old Students as Notes Checker!!!

        </h1>

        <h2 style="font-family: 'Bebas Neue', cursive; color: black; ">
        
        
        
        </h2>

    
      



      </div>





      <div class=" col-lg-4 col-md-12 col-sm-12 col-12 mb-3 mt-3" style="padding-left: 30px;" id="">


        <h1 style="font-family: 'Bebas Neue', cursive;padding-top: 100px;padding-left: 30px; font-weight:bold;color: yellow;" >
        
          CLICK HERE AND GET FREE NOTES !!!!!

        </h1>

        <h2 style="font-family: 'Bebas Neue', cursive; padding-left: 30px; color: yellow;">


          <div class="dropdown" >
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Free Notes!
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Engineering</a>
              <a class="dropdown-item" href="#">Math</a>
              <a class="dropdown-item" href="#">English</a>
              <a class="dropdown-item" href="#">BBA</a>

            </div>
          </div>
        
        
        
        </h2>

      



      </div>




     

    </div>


  </div>
  



<!--CARDS-->



<section class="py-5">
  <div class="container">
      <!-- FOR DEMO PURPOSE -->
      <div class="row">
          <div class="col-lg-6 mx-auto">
              <header class="text-center pb-5">
                  <h1 class="h2"></h1>
                  <p><br><a href="https://bootstrapious.com/snippets" class="font-italic text-info"></a></p>
              </header>
          </div>
      </div><!-- END -->


      <div class="row">
          <div class="col-lg-6 mx-auto">

              <!-- CUSTOM BLOCKQUOTE -->
              <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                  <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                  <p class="mb-0 mt-2 font-italic">"This is a very good website"<a href="#" class="text-info">@du</a>."</p>
                  <footer class="blockquote-footer pt-4 mt-4 border-top">Former Student Of Dhaka University
                      <cite title="Source Title">Rezowan Khan</cite>
                  </footer>
              </blockquote><!-- END -->

          </div>
      </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
      <!-- FOR DEMO PURPOSE -->
      <div class="row">
          <div class="col-lg-6 mx-auto">
              <header class="text-center pb-5">
                  <h1 class="h2"></h1>
                  <p><br><a href="https://bootstrapious.com/snippets" class="font-italic text-info"></a></p>
              </header>
          </div>
      </div><!-- END -->


      <div class="row">
          <div class="col-lg-6 mx-auto">

              <!-- CUSTOM BLOCKQUOTE -->
              <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                  <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                  <p class="mb-0 mt-2 font-italic">"This is a very good website"<a href="#" class="text-info">@du</a>."</p>
                  <footer class="blockquote-footer pt-4 mt-4 border-top">Former Student Of Dhaka University
                      <cite title="Source Title">Rezowan Khan</cite>
                  </footer>
              </blockquote><!-- END -->

          </div>
      </div>
  </div>
</section>


<h1 class="text-center "style="font-family: 'Bebas Neue', cursive;padding-top: 100px;padding-left: 30px; font-weight:bold;color: black;" >
        
  Check NOTES !!!!!
  <hr>

</h1>

<!--cards-->
<div class="container">

<div class="card-columns">

  <div class="card bg-primary">
    <div class="card-body text-center">
      <p class="card-text">Math</p>
      <a href="#">more</a>
      <div class="ico-card">
        <i class="fa fa-codepen"></i>
    </div>
  </div>
  </div>


  <div class="card bg-warning">
    <div class="card-body text-center">
      <p class="card-text">Artificial Intelligence</p>
      <a href="#">more</a>
      <div class="ico-card">
        <i class="fa fa-codepen"></i>
    </div>
  </div>
  </div>

  
  <div class="card bg-info">
    <div class="card-body text-center">
      <p class="card-text">Business Management</p>
      <a href="#">more</a>
      <div class="ico-card">
        <i class="fa fa-codepen"></i>
    </div>
  </div>
</div>
<div class="card bg-info">
  <div class="card-body text-center">
    <p class="card-text">Electrical Engineering</p>
    <a href="#">more</a>
    <div class="ico-card">
      <i class="fa fa-codepen"></i>
  </div>
</div>
</div>
<div class="card bg-info">
  <div class="card-body text-center">
    <p class="card-text">Medical</p>
    <a href="#">more</a>
    <div class="ico-card">
      <i class="fa fa-codepen"></i>
  </div>
</div>
</div>
<div class="card bg-info">
  <div class="card-body text-center">
    <p class="card-text">Networking</p>
    <a href="#">more</a>
    <div class="ico-card">
      <i class="fa fa-codepen"></i>
  </div>
</div>
</div>


</div>
</div>


<!--blog-->
  
<div class="container-fluid mt-3">


  <div class="row">


    <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-3">

      <div class="card shadow ">
        <img src="{% static 'image/note.jpg' %}" id="o" class=" card-img-top img-fluid " alt="cardimage">
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'sofia', sans-serif;">Anatomy</h5>

          <p class="card-text"  >Sell your Notes at a reasonable price and earn money !</p>
          <a href="#" class="btn btn-primary w-100">Show More</a>
        </div>
      </div>


    </div>


    <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-3">

      <div class="card shadow">
        <img src="{% static 'image/book.jpg' %}" id="m" class="card-img-top img-fluid " alt="cardimage">
        <div class="card-body">
          <h5 class="card-title"style="font-family: 'sofia', sans-serif;">Math 003</h5>

          <p class="card-text" >Buy Notes at a reasonable price from our clients.</p>
          <a href="#" class="btn btn-primary w-100">Show More</a>
        </div>
      </div>
    </div>


    <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-3">

      <div class="card shadow ">
        <img src="{% static 'image/note.jpg' %}" id="n" class="card-img-top img-fluid" alt="cardimage">
        <div class="card-body h-50">
          <h5 class="card-title" style="font-family: 'sofia', sans-serif;">Vector</h5>

          <p class="card-text">Share notes and Knowledge with other members </p>
          <a href="#" class="btn btn-primary w-100">Show More</a>
        </div>
      </div>


    </div>




    <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-3">

      <div class="card shadow">

        <img src="{% static 'image/students.jpg' %}" id="v" class="card-img-top img-responsive " alt="cardimage">

        <div class="card-body">
          <h5 class="card-title" style="font-family: 'sofia', sans-serif;">Pattern </h5>

          <p class="card-text">Write and View Reviews and Build a Strong Community</p>
          <a href="#" class="btn btn-primary w-100">Show More</a>

        </div>
      </div>
    </div>


  </div>
</div>


<!--blog-->
<h1 class="text-center "style="font-family: 'Bebas Neue', cursive;padding-top: 100px;padding-left: 30px; font-weight:bold;color: black;" >
        
  WRITE BLOGS SHARE YOUR Achievements !!!!!

</h1>


<div class="jumbotron">

  <div class="container">
    <div class="row">

     
      <div class="col-3 col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img" src="{% static 'image/students.jpg' %}">
          <div class="card-img-overlay">
            <a href="#" class="btn btn-light btn-sm">science</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Clubs Of UIU</h4>
            <small class="text-muted cat">
              <i class="far fa-clock text-info"></i> 30 minutes
              <i class="fas fa-users text-info"></i> 4 portions
            </small>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, enim? Sapiente magni error vel laboriosam est in, aut perferendis dolor maiores ullam doloremque delectus at odit reprehenderit voluptates illum odio!</p>
            <a href="#" class="btn btn-info">Read more</a>
          </div>
          <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views">Oct 20, 12:45PM
            </div>
            <div class="stats">
               <i class="far fa-eye"></i> 1347
              <i class="far fa-comment"></i> 12
            </div>
             
          </div>
        </div>
      </div>

      
      <div class="col-3 col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img" src="{% static 'image/students.jpg' %}">
          <div class="card-img-overlay">
            <a href="#" class="btn btn-light btn-sm">science</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Clubs Of UIU</h4>
            <small class="text-muted cat">
              <i class="far fa-clock text-info"></i> 30 minutes
              <i class="fas fa-users text-info"></i> 4 portions
            </small>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, enim? Sapiente magni error vel laboriosam est in, aut perferendis dolor maiores ullam doloremque delectus at odit reprehenderit voluptates illum odio!</p>
            <a href="#" class="btn btn-info">Read more</a>
          </div>
          <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views">Oct 20, 12:45PM
            </div>
            <div class="stats">
               <i class="far fa-eye"></i> 1347
              <i class="far fa-comment"></i> 12
            </div>
             
          </div>
        </div>
      </div>

      <div class="col-3 col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img" src="{% static 'image/students.jpg' %}">
          <div class="card-img-overlay">
            <a href="#" class="btn btn-light btn-sm">science</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Clubs Of UIU</h4>
            <small class="text-muted cat">
              <i class="far fa-clock text-info"></i> 30 minutes
              <i class="fas fa-users text-info"></i> 4 portions
            </small>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, enim? Sapiente magni error vel laboriosam est in, aut perferendis dolor maiores ullam doloremque delectus at odit reprehenderit voluptates illum odio!</p>
            <a href="#" class="btn btn-info">Read More</a>
          </div>
          <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views">Oct 20, 12:45PM
            </div>
            <div class="stats">
               <i class="far fa-eye"></i> 1347
              <i class="far fa-comment"></i> 12
            </div>
             
          </div>
        </div>
      </div>







    </div>
  </div>

</div>



<!--TEAM-->

<div class="container-fluid mt-5">

<section id="team" class="pb-5 mt-5">
  <div class="container mt-5">
      <h5 class="section-title h1">OUR TEAM</h5>
      <div class="row">
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" >
                  <div class="mainflip flip-0">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="{% static 'image/shuvo.jpg' %}"></p>
                                  <h4 class="card-title">Snehashish Shuvo</h4>
                                  <p class="card-text">UIU CSE</p>
                                  <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">About</h4>
                                  <p class="card-text">I am a researcher. I have skills in graphics, frontend</p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-facebook"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-twitter"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-skype"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-google"></i>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                            <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{% static 'image/ashik.jpg' %}"></p>
                              <h4 class="card-title">Ashik Arman</h4>
                              <p class="card-text">UIU CSE</p>
                              <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                          </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">About</h4>
                                  <p class="card-text">I am a researcher. I have skills in graphics, frontend</p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-facebook"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-twitter"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-skype"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-google"></i>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                            <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{% static 'image/sayeeda.jpg' %}"></p>
                              <h4 class="card-title">Sayeeda Tanjila</h4>
                              <p class="card-text">UIU CSE</p>
                              <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                          </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">About</h4>
                                  <p class="card-text">I am a researcher. I have skills in graphics, frontend</p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-facebook"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-twitter"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-skype"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-google"></i>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                            <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{% static 'image/students.jpg' %}"></p>
                              <h4 class="card-title">member</h4>
                              <p class="card-text">from uiu</p>
                              <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                          </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Sunlimetech</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-facebook"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-twitter"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-skype"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-google"></i>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                            <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{% static 'image/students.jpg' %}"></p>
                              <h4 class="card-title">member</h4>
                              <p class="card-text">from uiu</p>
                              <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                          </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Sunlimetech</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-facebook"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-twitter"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-skype"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-google"></i>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                            <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{% static 'image/students.jpg' %}"></p>
                              <h4 class="card-title">member</h4>
                              <p class="card-text">from uiu</p>
                              <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                          </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Sunlimetech</h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-facebook"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-twitter"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-skype"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-google"></i>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->

      </div>
  </div>
</section>
</div>



<!--footer-->


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>


  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</body>

</html>